<!-- [ngClass]="{'open': (restaurant?.status=='open'), 'order-ahead': (restaurant?.status=='order ahead'), 'closed': (restaurant?.status=='closed')}" -->
<div class="card" 
    >
  <div class="two-letters">
    <span>{{getTwoLetters()}}</span>
  </div>
  <div class="card-content">
  <h3 class="title">
    {{listIndex}}. {{restaurant?.name}}
  </h3>
  <div>
  <div>
    Distance: {{restaurant?.sortingValues?.distance}} <br/>    

    <div class="stars">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;
        <div class="highlighted" 
             [style.width.%]="(restaurant?.sortingValues?.ratingAverage/5)*100">
             &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;
        </div>
      </div>                  
  </div>
  <button class="btn-heart" (click)="toggleFavorite(restaurant)" >
     <div class="heart" [ngClass]="{'favorite' : (restaurant?.isFavorite == true)}"></div>           
  </button>
  <!-- <div >&#x2765;</div>-->
  
  <img class="status" src="/assets/open.svg" *ngIf="restaurant?.status == 'open'" width="100" height="100" />   
  <img class="status" src="/assets/closed.svg" *ngIf="restaurant?.status == 'closed'" width="100" height="100" />   
  <img class="status" src="/assets/order-ahead2.svg" *ngIf="restaurant?.status == 'order ahead'" width="100" height="100" />   
</div> 
</div>

