@import './../../../variables.scss';

.card {
    position: relative;
    width: 350px;
    margin: 0 10px 10px 0;
    background-color: white;
    float:left;
    padding: 2px 16px;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 175px;      
    min-width: 250px;    
    box-sizing: border-box;
    .card-content{
        margin-left:110px;
    }  
    &:hover {
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    }

}

.title{        
    font-size: 1.125em;         
    box-sizing: border-box;
}
.stars{    
    color:#dddddd;
    position: relative;    
    font-size: 2.5em;
    width: 160px;
    .highlighted {
        position: absolute;
        left:0;
        top:0;
        color: $secondary-light;        
        overflow: hidden;
    }
    

}
.two-letters { 
    position: absolute; 
    top: 20px;
    float:left;
    display: flex;
    color:black;
    background-color: $secondary-medium;
    border-radius: 50%;
    font-size:2.5em;
    height:100px; 
    width:100px;    
    align-items: center;    
    span{              
        margin-left: auto;
        margin-right: auto;
    }
}
.open {
    background-color: $primary-light;    
}
.closed {
    background-color:#c9c9c9;
}
.order-ahead {
    background-color: $primary-dark;    
    color:white;
}
.btn-heart{
    height: 60px;
    width:60px;
}

.status {
    position: absolute;
    left: 15px;
    top: 85px;
}

.btn-heart{
    height:50px;
    width:50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: $secondary-dark solid 2px;
    border-radius: 50%;
    background-color: $primary-dark;
    outline: none;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
         
    }    
    // Heart css gekopieerd, aangezien 
    .heart {    
        right: 10px;
        bottom: 10px;
        top: -15px;
        left: 2px;
        position: relative;        
            
        &:before, &:after {
            position: absolute;
            content: "";
            left: 15px;
            top: 5px;
            width: 15px;
            height: 24px;                
            background: #c9c9c9;
            border-radius: 50px 50px 0 0;
            transform: rotate(-45deg);
            transform-origin: 0 100%;                        
        }
        &:after {
            left: 0;
            transform: rotate(45deg);
            transform-origin :100% 100%;
        }
        &.favorite{
            &:before, &:after{
                background-color:$secondary-medium;
            }            
        }
    }
}
