/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
    background-color: #f8f8f8;
}

.flex-container {
    display: flex;
    height: 200px;
    align-items: center;
}
.row {
    clear: both;
    padding:0;
}

.grid-container{
    margin:10px;
}
